<mat-card
  style="margin-bottom: 5px; padding-bottom: 0%; margin-top: 0; padding-top: 0; border-top: 0; padding-left: 0px; margin-left: 0; border-left: 0;">
  <mat-list style="margin: 0; padding: 0; border: 0;">
    <mat-list-item style="margin: 0; padding: 0; border: 0; height: var(--tamanio-cuadro-idicador);">
      <mat-icon mat-list-icon
        style="padding: 0px; margin: 0; border: 0; font-size: var(--tamanio-icono-indocador);">person_pin</mat-icon>
      <div mat-line><mat-card-title
          style="font-size: var(--tamanio-texto-indicador); margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">Agrega
          nuevos administradores
        </mat-card-title></div>
      <div mat-line>
        <div aria-label="breadcrumb" style="font-size: var(--tamanio-texto-camino); border: 0; padding: 0; margin: 0;">
          <ol class="breadcrumb " style="border: 0; padding: 0; margin: 0;">
            <li class="breadcrumb-item derecha"><a style="color: black; text-decoration: none;"
                routerLink="/admin/">Inicio</a></li>
            <li class="breadcrumb-item active derecha"
              style="color: var(--color-migajas-de-pan); text-decoration: none;" aria-current="page">Agregar
              administrador</li>
          </ol>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>

<div class="joinnow">
  <div class="login col-lg-7 m-auto shadow-lg">
    <div class="container mt-4 mb-5">
      <div class="row">
        <div>
          <form (submit)="agregarAdministrador()">
            <div class="box mt-3 mb-3">

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Nombre del administrador</mat-label>
                <input [(ngModel)]="usuario.nombreUsuario" type="text" name="nombre" matInput
                  placeholder="Digite el nombre">
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Apellido del administrador</mat-label>
                <input [(ngModel)]="usuario.apellidoUsuario" type="text" name="apellido" matInput
                  placeholder="Digite el apellido">
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Cédula del administrador</mat-label>
                <input [(ngModel)]="usuario.cedula" type="text" name="cedula" matInput placeholder="Digite la cédula">
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Teléfono del administrador</mat-label>
                <input [(ngModel)]="usuario.telefono" type="text" name="telefono" matInput
                  placeholder="Digite el teléfono">
              </mat-form-field>

              <mat-form-field class="w100" appearance="outline">
                <mat-label>Email del administrador</mat-label>
                <input [(ngModel)]="usuario.email" type="text" name="email" matInput placeholder="Digite el email">
              </mat-form-field>

              <br>
              <div class="container text-center mt15">
                <button mat-raised-button color="primary">Agregar Administrador</button>
              </div>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>