
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf="menuVisible" #drawer class="sidenav" style="background-color: var(--color-menu-dashboar);"
    fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list style="padding: 0;">
      <div class="box mt-3 mb-3" style="border: 0; margin: 0; padding: 0;">
        <h4
          style="font-size: var(--tamanio-nombre-usuario);text-align:center; margin: 0; padding: 0; ;padding-bottom: var(--padint-textos-menu);border: none; color:var(--color-menu-dashboar-texto) ;">
          {{ usuario.nombreUsuario }}</h4>
        <div class="image-container" style="border: 0; margin: 0; padding: 0;">
          <img class="circle-image"
            style="width: var(--tamanio-foto-usuario); height: var(--tamanio-foto-usuario); border-radius: 70%; overflow: hidden; border: 0; margin: 0; padding: 0; border: var(--tamanio-borde-foto-usuario) solid var(--color-menu-dashboar-resaltado)"
            [src]="imagenUrl">
        </div>
        <h5
          style="font-size: var(--tamanio-rol-usuario);text-align:center; margin-top: 0; border-top: 0; padding-top: var(--padint-textos-menu); color:var(--color-menu-dashboar-texto) ;">
          Investigador</h5>
      </div>
      <div class=" navbar-light bg-light" style=" min-width: var(--tamanio-menu); max-width: var(--tamanio-menu);">
        <ul class="navbar-nav " style="background-color: var(--color-menu-dashboar);">

          <div style="box-shadow: 0 2px 4px var(--color-menu-dashboar-grupo)">
            <li class="navbar-nav">
              <a class="nav-link  mi-elemento personalizado" routerLink="/user-dashboard" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact:true}" mat-list-item (click)="esconderToggleMenu()">
                <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);">home</mat-icon>
                Panel de control
              </a>
            </li>
          </div>
          
          <mat-divider style="background-color: var(--color-linea-divisora);"></mat-divider>

          <div style="box-shadow: 0 2px 4px var(--color-menu-dashboar-grupo)">
            <li class="navbar-nav">
              <a class="nav-link  mi-elemento personalizado" routerLink="/user-dashboard/view-medidas" routerLinkActive="active-link"
                 mat-list-item (click)="esconderToggleMenu()">
                <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);">shutter_speed</mat-icon>
                Unidad de medida
              </a>
            </li>
          </div>
          
          <mat-divider style="background-color: var(--color-linea-divisora);"></mat-divider>
         
        
         
          <div style="box-shadow: 0 2px 4px var(--color-menu-dashboar-grupo)">
            <li class="nav-item">
              <a class="nav-link  mi-elemento personalizado" routerLinkActive="active-link" mat-list-item
                (click)="toggleMenu1()">
                <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);">category</mat-icon>
                <div style="width: var(--tamanio-ancho-despelgable);">Medidas</div>
                <span>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp1==false">keyboard_arrow_down</mat-icon>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp1==true">keyboard_arrow_up</mat-icon>
                </span>
              </a>
            </li>

            <ul class="navbar-nav " *ngIf="isMenuOpen1">
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link" routerLink="/user-dashboard/view-areas-medida"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Área
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link" routerLink="/user-dashboard/view-altura"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Altura
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link" routerLink="/user-dashboard/view-profundidades"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Profundidad
                </a>
              </li>
            </ul>
          </div>
          <mat-divider style="background-color: var(--color-linea-divisora);"></mat-divider>

          <div style="box-shadow: 0 2px 4px var(--color-menu-dashboar-grupo)">
            <li class="nav-item">
              <a class="nav-link  mi-elemento personalizado" routerLinkActive="active-link" mat-list-item
                (click)="toggleMenu2()">
                <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);">dashboard</mat-icon>
                <div style="width: var(--tamanio-ancho-despelgable);">Catálogo de datos</div>
                <span>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp2==false">keyboard_arrow_down</mat-icon>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp2==true">keyboard_arrow_up</mat-icon>
                </span>
              </a>
            </li>

            <ul class="navbar-nav " *ngIf="isMenuOpen2">
              
             
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link" routerLink="/user-dashboard/view-organizacion-investigador"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Organización
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link" routerLink="/user-dashboard/view-catalogo-organizacion"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Equivalencia de variables
                </a>
              </li>
            </ul>
          </div>
          <mat-divider style="background-color: var(--color-linea-divisora);"></mat-divider>

          <!------------------------------------------------------------->

          <mat-divider style="background-color: var(--color-linea-divisora);"></mat-divider>

          <div style="box-shadow: 0 2px 4px var(--color-menu-dashboar-grupo)">
            <li class="nav-item">
              <a class="nav-link  mi-elemento personalizado" routerLinkActive="active-link" mat-list-item
                (click)="toggleMenu3()">
                <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);">storage</mat-icon>
                <div style="width: var(--tamanio-ancho-despelgable);">Proyecto</div>
                <span>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp3==false">keyboard_arrow_down</mat-icon>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp3==true">keyboard_arrow_up</mat-icon>
                </span>
              </a>
            </li>

            <ul class="navbar-nav " *ngIf="isMenuOpen3" >
              <li class="nav-item" *ngFor="let oC of InvestigadorInvestigacion">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"[routerLink] = "'/user-dashboard/view-dash-proyecto/'+oC.proyectoInvestigacion.idProyecto"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  {{oC.proyectoInvestigacion.nombreProyecto}}
                </a>
              </li>
            </ul>
          </div>
          <mat-divider style="background-color: var(--color-linea-divisora);"></mat-divider>



          

         
      


        </ul>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      style="height: var(--dash-sidebar-tamaño); color:var(--dash-sidebar-color);background-color: var(--dash-sidebar-bakcolor);">
      <button type="button" (click)="toggleBoton()" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()" *ngIf="!(isHandset$ | async)">
        <mat-icon>menu</mat-icon>
      </button>
      <hr *ngIf="!(isHandset$ | async)" class="vertical-divider">

      <span *ngIf="!(isHandset$ | async)" class="example-spacer"></span>

      <mat-list style=" text-align: center; padding: 0; border: 0; margin: 0; padding-top: 5px;" class="fontApp1">
        <div style="display:flex; align-items:center;">
          <div style="font-size: 21px; padding-left: 5px; ">Eco</div>
          <div mat-line style="font-size: 30px;">
            <mat-icon style="font-size: 30px; padding-top: 5px;">terrain</mat-icon>
          </div>
          <div style="font-size: 21px; padding-left: 5px; ">ndes</div>
        </div>
      </mat-list>
      <span class="example-spacer"></span>
      <button mat-icon-button aria-label="Example icon-button with a menu" [routerLink] = "'/user-dashboard/view-solicitud-actualizar-investigador/'+idUsuario">
        <mat-icon matBadge="{{contadorDeSolicitudes.contSolAcceso}} " [matBadgeHidden]="hiddenSolicitud"
          matBadgeColor="warn">description</mat-icon>
      </button>

      <button type="button" (click)="toggleBoton()" aria-label="Toggle sidenav" mat-icon-button  
        (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>


      <button *ngIf="isLoggedIn && usuario" mat-icon-button [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div class="mi-elemento1" style="padding: 0; margin: 0; border: 0;">
          <ul class="navbar-nav" style="background-color: var(--matMenu-color);">
            <li class="nav-link1  mi-elemento1" [routerLink]="'/user-dashboard/actualizarPerfilUser/'+usuario.idUsuario"
              mat-menu-item style="padding: 0;padding-right: var(--pading-matMenu); text-decoration: none;">
              <mat-icon
                style="font-size: var(--tamanio-icono-matMenu); padding-left: var(--pading-matMenu);">person_pin</mat-icon>
              Perfil
            </li>
            <li class="nav-link1  mi-elemento1" (click)="navegarPagina()" mat-menu-item
              style="padding: 0;padding-right: var(--pading-matMenu); text-decoration: none;">
              <mat-icon
                style="font-size: var(--tamanio-icono-matMenu); padding-left: var(--pading-matMenu);">public</mat-icon>
              Página
            </li>
            <li class="nav-link1  mi-elemento1" (click)="logout()" mat-menu-item
              style="padding: 0;padding-right: var(--pading-matMenu); text-decoration: none;">
              <mat-icon
                style="font-size: var(--tamanio-icono-matMenu); padding-left: var(--pading-matMenu);">logout</mat-icon>
              Salir
            </li>
          </ul>
        </div>
      </mat-menu>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <router-outlet ></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>