<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf="menuVisible" #drawer class="sidenav" style="background-color: var(--color-menu-dashboar);"
    fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list style="padding: 0;">
      <div class="box mt-3 mb-3" style="border: 0; margin: 0; padding: 0;">
        <h4
          style="font-size: var(--tamanio-nombre-usuario);text-align:center; margin: 0; padding: 0; ;padding-bottom: var(--padint-textos-menu);border: none; color:var(--color-menu-dashboar-texto) ;">
          {{ usuario.nombreUsuario }}</h4>
        <div class="image-container" style="border: 0; margin: 0; padding: 0;">
          <img class="circle-image"
            style="width: var(--tamanio-foto-usuario); height: var(--tamanio-foto-usuario); border-radius: 70%; overflow: hidden; border: 0; margin: 0; padding: 0; border: var(--tamanio-borde-foto-usuario) solid var(--color-menu-dashboar-resaltado)"
            [src]="imagenUrl">
        </div>
        <h5
          style="font-size: var(--tamanio-rol-usuario);text-align:center; margin-top: 0; border-top: 0; padding-top: var(--padint-textos-menu); color:var(--color-menu-dashboar-texto) ;">
          Administrador</h5>
      </div>
      <div class=" navbar-light bg-light" style=" min-width: var(--tamanio-menu); max-width: var(--tamanio-menu);">
        <ul class="navbar-nav " style="background-color: var(--color-menu-dashboar);">

          
          <div style="box-shadow: 0 2px 4px var(--color-menu-dashboar-grupo)">
            <li class="navbar-nav">
              <a class="nav-link  mi-elemento personalizado" routerLink="/admin" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact:true}" mat-list-item (click)="esconderToggleMenu()">
                <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);">home</mat-icon>
                Panel de control
              </a>
            </li>
          </div>
          <mat-divider style="background-color: var(--color-linea-divisora);"></mat-divider>

          <div style="box-shadow: 0 2px 4px var(--color-menu-dashboar-grupo)">
            <li class="navbar-nav">
              <a class="nav-link  mi-elemento personalizado" routerLink="/admin/view-director" routerLinkActive="active-link"
                mat-list-item (click)="esconderToggleMenu()">
                <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);">supervised_user_circle</mat-icon>
                Director proyecto
              </a>
            </li>
          </div>
          <mat-divider style="background-color: var(--color-linea-divisora);"></mat-divider>

          <!--
          <div style="box-shadow: 0 2px 4px var(--color-menu-dashboar-grupo);">
            <li class="nav-item">
              <a class="nav-link  mi-elemento personalizado" routerLinkActive="active-link" mat-list-item
                (click)="toggleMenu3()">
                <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);">library_books</mat-icon>
                <div style="width: var(--tamanio-ancho-despelgable);">Areas de investigación</div>
                <span>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp3==false">keyboard_arrow_down</mat-icon>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp3==true">keyboard_arrow_up</mat-icon>
                </span>
              </a>
            </li>

            <ul class="navbar-nav " *ngIf="isMenuOpen3">
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/add-area-investigacion"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Añadir area de investigación
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-area-investigacion"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Lista de areas de investigación
                </a>
              </li>
            </ul>
          </div>


          <mat-divider style="background-color: var(--color-linea-divisora);"></mat-divider>

          <div style="box-shadow: 0 2px 4px var(--color-menu-dashboar-grupo);">
            <li class="nav-item">
              <a class="nav-link  mi-elemento personalizado" routerLinkActive="active-link" mat-list-item
                (click)="toggleMenu4()">
                <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);">location_on</mat-icon>
                <div style="width: var(--tamanio-ancho-despelgable);">Localizaciones</div>
                <span>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp4==false">keyboard_arrow_down</mat-icon>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp4==true">keyboard_arrow_up</mat-icon>
                </span>
              </a>
            </li>

            <ul class="navbar-nav " *ngIf="isMenuOpen4">
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/add-localizacion-admin"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Añadir localización
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-localizacion-admin"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Lista de localizacines 
                </a>
              </li>
            </ul>
          </div>
          -->

          <!--
          <mat-divider style="background-color: var(--color-linea-divisora);"></mat-divider>

          <div style="box-shadow: 0 2px 4px var(--color-menu-dashboar-grupo);">
            <li class="nav-item">
              <a class="nav-link  mi-elemento personalizado" routerLinkActive="active-link" mat-list-item
                (click)="toggleMenu5()">
                <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);">location_city</mat-icon>
                <div style="width: var(--tamanio-ancho-despelgable);">Instituciones</div>
                <span>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp5==false">keyboard_arrow_down</mat-icon>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp5==true">keyboard_arrow_up</mat-icon>
                </span>
              </a>
            </li>

            <ul class="navbar-nav " *ngIf="isMenuOpen5">
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/add-institucion-admin"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Añadir institución
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-institucion-admin"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Lista de instituciones
                </a>
              </li>
            </ul>
            
          </div>-->

          <mat-divider style="background-color: var(--color-linea-divisora);"></mat-divider>

          <div style="box-shadow: 0 2px 4px var(--color-menu-dashboar-grupo);">
            <li class="nav-item">
              <a class="nav-link  mi-elemento personalizado" routerLinkActive="active-link" mat-list-item
                (click)="toggleMenu6()">
                <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);">collections_bookmark</mat-icon>
                <div style="width: var(--tamanio-ancho-despelgable);">Información proyecto</div>
                <span>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp6==false">keyboard_arrow_down</mat-icon>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp6==true">keyboard_arrow_up</mat-icon>
                </span>
              </a>
            </li>

            <ul class="navbar-nav " *ngIf="isMenuOpen6">
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-sector-impacto-admin"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Sector de impacto
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-area-investigacion-admin"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Área de investigación
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-tipo-investigacion-admin"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Tipo de investigación
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-tipo-proyecto-admin"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Tipo de proyecto
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-linea-investigacion-admin"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Línea de investigación
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-pais-admin"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Localización
                </a>
              </li>

              <!--
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-localizacion-admin"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Localizacines 
                </a>
              </li>-->
              
            </ul>
          </div>

          <mat-divider style="background-color: var(--color-linea-divisora);"></mat-divider>

          <div style="box-shadow: 0 2px 4px var(--color-menu-dashboar-grupo);">
            <li class="nav-item">
              <a class="nav-link  mi-elemento personalizado" routerLinkActive="active-link" mat-list-item
                (click)="toggleMenu7()">
                <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);">vertical_split</mat-icon>
                <div style="width: var(--tamanio-ancho-despelgable);">Catálogo de datos</div>
                <span>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp7==false">keyboard_arrow_down</mat-icon>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp7==true">keyboard_arrow_up</mat-icon>
                </span>
              </a>
            </li>

            

            <ul class="navbar-nav " *ngIf="isMenuOpen7">

              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-organizacion-admin"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Organización
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-familia-admin"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Familia
                </a>
              </li>

              
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-variable-admin"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Variables del sistema
                </a>
              </li>
              
              
              
              <!--<li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-catalogo-organizacion-admin"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Catálogo de la organización
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-catalogo-espoch-admin"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Catálogo de la Espoch
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-equivalencia-variable"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Equivalencia de variables
                </a>
              </li>-->

              
            </ul>
          </div>

          <!--
          <li class="navbar-nav">
            <a class="nav-link  mi-elemento personalizado" routerLink="/admin/at" routerLinkActive="active-link"
              mat-list-item (click)="esconderToggleMenu()">
              <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"> vertical_split</mat-icon>
              Catálogo de datos
            </a>
          </li>-->

          <mat-divider style="background-color: var(--color-linea-divisora);"></mat-divider>
          <!--
          <li class="navbar-nav">
            <a class="nav-link  mi-elemento personalizado" 
            [routerLink]="'/admin/actualizar-informacion-app-web/'+usuario.idUsuario"
              routerLinkActive="active-link" mat-list-item (click)="esconderToggleMenu()">
              <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);">add_to_queue</mat-icon>
              Información aplicacion web
            </a>
          </li>
          <mat-divider style="background-color: var(--color-linea-divisora);"></mat-divider>-->

          
          <div style="box-shadow: 0 2px 4px var(--color-menu-dashboar-grupo);">
            <li class="nav-item">
              <a class="nav-link  mi-elemento personalizado" routerLinkActive="active-link" mat-list-item
                (click)="toggleMenu8()">
                <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);">add_to_queue</mat-icon>
                <div style="width: var(--tamanio-ancho-despelgable);">EcoAndes</div>
                <span>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp8==false">keyboard_arrow_down</mat-icon>
                  <mat-icon mat-list-icon style="font-size: var(--tamanio-icono-menu);"
                    *ngIf="isArrowUp8==true">keyboard_arrow_up</mat-icon>
                </span>
              </a>
            </li>

            <ul class="navbar-nav " *ngIf="isMenuOpen8">
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-administrador"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Gestionar administrador
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-administrador-datos"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Gestionar administrador de datos
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-envio-email"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Email para envió de correos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-tiempo-edicion-dato"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Tiempo edición datos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  [routerLink]="'/admin/actualizar-informacion-app-web/'+usuario.idUsuario"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Actualizar información
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-informacion-web"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Historial de cambios
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  mi-elemento " routerLinkActive="active-link"
                  routerLink="/admin/view-accesos"
                  style="max-width: var(--tamanio-menu); padding-left: var(--pading-left-subtitulo); font-size: var(--tamanio-subtexto-menu);"
                  type="button">
                  Historial de accesos
                </a>
              </li>
            </ul>
          </div>

          <mat-divider style="background-color: var(--color-linea-divisora);"></mat-divider>




        </ul>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      style="height: var(--dash-sidebar-tamaño); color:var(--dash-sidebar-color);background-color: var(--dash-sidebar-bakcolor);">
      <button type="button" (click)="toggleBoton()" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()" *ngIf="!(isHandset$ | async)">
        <mat-icon>menu</mat-icon>
      </button>
      <hr *ngIf="!(isHandset$ | async)" class="vertical-divider">

      <span *ngIf="!(isHandset$ | async)" class="example-spacer"></span>

      <mat-list style=" text-align: center; padding: 0; border: 0; margin: 0; padding-top: 5px;" class="fontApp1">
        <div style="display:flex; align-items:center;">
          <div style="font-size: 21px; padding-left: 5px; ">Eco</div>
          <div mat-line style="font-size: 30px;">
            <mat-icon style="font-size: 30px; padding-top: 5px;">terrain</mat-icon>
          </div>
          <div style="font-size: 21px; padding-left: 5px; ">ndes</div>
        </div>
      </mat-list>
      <span class="example-spacer"></span>
      
      <button type="button" (click)="toggleBoton()" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      <button *ngIf="isLoggedIn && usuario" mat-icon-button [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div class="mi-elemento1" style="padding: 0; margin: 0; border: 0;">
          <ul class="navbar-nav" style="background-color: var(--matMenu-color);">
            <li class="nav-link1  mi-elemento1" [routerLink]="'/admin/actualizarPerfil/'+usuario.idUsuario"
              mat-menu-item style="padding: 0;padding-right: var(--pading-matMenu); text-decoration: none;">
              <mat-icon
                style="font-size: var(--tamanio-icono-matMenu); padding-left: var(--pading-matMenu);">person_pin</mat-icon>
              Perfil
            </li>
            <li class="nav-link1  mi-elemento1" (click)="navegarPagina()" mat-menu-item
              style="padding: 0;padding-right: var(--pading-matMenu); text-decoration: none;">
              <mat-icon
                style="font-size: var(--tamanio-icono-matMenu); padding-left: var(--pading-matMenu);">public</mat-icon>
              Página
            </li>
            <li class="nav-link1  mi-elemento1" (click)="logout()" mat-menu-item
              style="padding: 0;padding-right: var(--pading-matMenu); text-decoration: none;">
              <mat-icon
                style="font-size: var(--tamanio-icono-matMenu); padding-left: var(--pading-matMenu);">logout</mat-icon>
              Salir
            </li>
          </ul>
        </div>
      </mat-menu>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <router-outlet ></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>