<mat-card
  style="margin-bottom: 5px; padding-bottom: 0%; margin-top: 0; padding-top: 0; border-top: 0; padding-left: 0px; margin-left: 0; border-left: 0;">
  <mat-list style="margin: 0; padding: 0; border: 0;">
    <mat-list-item style="margin: 0; padding: 0; border: 0; height: var(--tamanio-cuadro-idicador);">
      <mat-icon mat-list-icon
        style="padding: 0px; margin: 0; border: 0; font-size: var(--tamanio-icono-indocador);">collections_bookmark</mat-icon>
      <div mat-line><mat-card-title
          style="font-size: var(--tamanio-texto-indicador); margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">Área de investigación
        </mat-card-title></div>
      <div mat-line>
        <div aria-label="breadcrumb" style="font-size: var(--tamanio-texto-camino); border: 0; padding: 0; margin: 0;">
          <ol class="breadcrumb " style="border: 0; padding: 0; margin: 0;">
            <li class="breadcrumb-item derecha"><a style="color: black; text-decoration: none;"
                routerLink="/admin/">Inicio</a></li>
            <li class="breadcrumb-item active derecha"
              style="color: var(--color-migajas-de-pan); text-decoration: none;" aria-current="page">Ver área de
              investigación</li>
          </ol>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card style="background-color: var(--dash-sidebar-bakcolor);">
  <mat-list>
    <mat-list-item>
      <div mat-line>
        <mat-form-field>
          <input type="text" class="mb-2" placeholder="Buscar.." #txtSearch matInput
            (keyup)="onSearch( txtSearch.value )" />
        </mat-form-field>
      </div>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">

        <button (click)="openDialogAgregar()" mat-raised-button color="primary">Agregar</button>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <mat-card>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
      <mat-tab label="Disponibles">

        <mat-list>
          <mat-list-item
            *ngFor="let oC of listaDatosVigentes| filtroAreaInvestigacion:search | paginate:page_size:page_number">
            <mat-icon mat-list-icon>streetview</mat-icon>
            <div mat-line><mat-card-subtitle
                style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0; color: black;">{{oC.nombreAreaInvestigacion }}</mat-card-subtitle>
            </div>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">

              <button mat-icon-button matTooltip="Primary" color="primary"
                aria-label="Example icon-button with a heart icon"
                (click)="openDialogEditar(oC.idAreaInvestigacion, oC.nombreAreaInvestigacion)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Warn" color="warn" aria-label="Example icon-button with a heart icon"
                (click)="eliminar(oC.idAreaInvestigacion)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <mat-divider></mat-divider>

          </mat-list-item>
          <mat-list *ngIf="(listaDatosVigentes| filtroAreaInvestigacion:search ).length===0"
            style="text-align: center; padding: 20px; margin: 20px;">
            <p>No existen áreas de investigación</p>
            <br>

          </mat-list>
          <mat-divider></mat-divider>
          <mat-paginator (page)="handlePage($event)"
            [length]="(listaDatosVigentes| filtroAreaInvestigacion:search).length" [pageSize]="page_size"
            [pageSizeOptions]="page_size_options" showFirstLastButtons>
          </mat-paginator>
        </mat-list>

      </mat-tab>
      <mat-tab label="Eliminadas">
        <mat-list>
          <mat-list-item
            *ngFor="let oC of listaDatosEliminados| filtroAreaInvestigacion:search | paginate:page_size:page_number1">
            <mat-icon mat-list-icon>streetview</mat-icon>
            <div mat-line><mat-card-subtitle
                style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0; color: black;">{{oC.nombreAreaInvestigacion }}</mat-card-subtitle>
            </div>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">


              <button mat-icon-button matTooltip="Primary" color="primary"
                aria-label="Example icon-button with a heart icon" (click)="restablecer(oC.idAreaInvestigacion)">
                <mat-icon>restore_from_trash</mat-icon>
              </button>
            </div>

            <mat-divider></mat-divider>

          </mat-list-item>
          <mat-list *ngIf="(listaDatosEliminados| filtroAreaInvestigacion:search ).length===0"
            style="text-align: center; padding: 20px; margin: 20px;">
            <p>No existen áreas de investigación eliminadas</p>
            <br>

          </mat-list>
          <mat-divider></mat-divider>
          <mat-paginator (page)="handlePage1($event)"
            [length]="(listaDatosEliminados| filtroAreaInvestigacion:search).length" [pageSize]="page_size"
            [pageSizeOptions]="page_size_options" showFirstLastButtons>
          </mat-paginator>
        </mat-list>

      </mat-tab>
    </mat-tab-group>
  </mat-card>
</mat-card>