<mat-card
  style="margin-bottom: 5px; padding-bottom: 0%; margin-top: 0; padding-top: 0; border-top: 0; padding-left: 0px; margin-left: 0; border-left: 0;">
  <mat-list style="margin: 0; padding: 0; border: 0;">
    <mat-list-item style="margin: 0; padding: 0; border: 0; height: var(--tamanio-cuadro-idicador);">
      <mat-icon mat-list-icon
        style="padding: 0px; margin: 0; border: 0; font-size: var(--tamanio-icono-indocador);">add_to_queue</mat-icon>
      <div mat-line><mat-card-title
          style="font-size: var(--tamanio-texto-indicador); margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">Tiempo
          para editar datos
        </mat-card-title></div>
      <div mat-line>
        <div aria-label="breadcrumb" style="font-size: var(--tamanio-texto-camino); border: 0; padding: 0; margin: 0;">
          <ol class="breadcrumb " style="border: 0; padding: 0; margin: 0;">
            <li class="breadcrumb-item derecha"><a style="color: black; text-decoration: none;"
                routerLink="/admin/">Inicio</a></li>
            <li class="breadcrumb-item active derecha"
              style="color: var(--color-migajas-de-pan); text-decoration: none;" aria-current="page">Ver tiempo para
              editar datos</li>
          </ol>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>



<mat-card style="background-color: var(--dash-sidebar-bakcolor);">






  <mat-card>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
      <mat-tab label="Disponible">

        <br><br>
        <mat-list *ngIf="datosActuales.idTiempoEdicionDato===0" style="text-align: center;">
          <p>No existe tiempo de maximo de edicion de datos</p> <br>
        </mat-list>
        <div class="col-md-4 offset-md-4">
          <form *ngIf="datosActuales">
            <div *ngIf="datosActuales.idTiempoEdicionDato!=0">
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Tiempo maximo de edición de datos en dias:</mat-label>
                <input [(ngModel)]="datosActuales.tiempo" type="text" name="tiempo" matInput>
              </mat-form-field>
            </div>
              <div class="container text-center">
                <button *ngIf="datosActuales.idTiempoEdicionDato!=0" mat-raised-button color="primary"
                  (click)="openDialogEditar()" style="margin-right: 10px;">Actualizar</button>
                <button (click)="openDialogAgregar()" *ngIf="datosActuales.idTiempoEdicionDato==0" mat-raised-button color="primary">Agregar</button>
              </div>
              <br>
            
          </form>
        </div>





      </mat-tab>
     
    </mat-tab-group>
  </mat-card>
</mat-card>