<mat-card
  style="margin-bottom: 5px; padding-bottom: 0%; margin-top: 0; padding-top: 0; border-top: 0; padding-left: 0px; margin-left: 0; border-left: 0;">
  <mat-list style="margin: 0; padding: 0; border: 0;">
    <mat-list-item style="margin: 0; padding: 0; border: 0; height: var(--tamanio-cuadro-idicador);">
      <mat-icon mat-list-icon
        style="padding: 0px; margin: 0; border: 0; font-size: var(--tamanio-icono-indocador);">vertical_split</mat-icon>
      <div mat-line><mat-card-title
          style="font-size: var(--tamanio-texto-indicador); margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">Familia
        </mat-card-title></div>
      <div mat-line>
        <div aria-label="breadcrumb" style="font-size: var(--tamanio-texto-camino); border: 0; padding: 0; margin: 0;">
          <ol class="breadcrumb " style="border: 0; padding: 0; margin: 0;">
            <li class="breadcrumb-item derecha"><a  style="color: black; text-decoration: none;" routerLink = "/admin-datos/">Inicio</a></li>
            <li class="breadcrumb-item active derecha" style="color: var(--color-migajas-de-pan); text-decoration: none;"  aria-current="page">Ver familias</li>
          </ol>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card style="background-color: var(--dash-sidebar-bakcolor);">
  <mat-list>
    <mat-list-item>
      <div mat-line>
        <button *ngIf="idPadre!=null" (click)="cargarAnterior(idAnterior)" mat-icon-button color="primary" aria-label="Example icon button with a home icon" >
          <mat-icon>keyboard_return</mat-icon>
        </button>
        
        <mat-form-field>
          <input type="text" class=" mb-2" placeholder="Buscar.." #txtSearch matInput
            (keyup)="onSearch( txtSearch.value )" />
        </mat-form-field>
      </div>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        
        <button (click)="openDialogAgregar(idAgregarEditar)" mat-raised-button color="primary">Agregar</button>
      </div>

    </mat-list-item>

  </mat-list>



<mat-card>
<mat-list>
  <mat-list-item *ngFor = "let oC of hijosRecursivos| filtroFamiliaAdmin:search | paginate:page_size:page_number">
    <mat-icon mat-list-icon>streetview</mat-icon>
    <div mat-line ><mat-card-subtitle style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0; color: black;">{{oC.codigo}}</mat-card-subtitle></div>
    <div mat-line ><mat-card-subtitle style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0; color: black;">{{oC.descripcion}}</mat-card-subtitle></div>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
    
      
      <button mat-icon-button matTooltip="Primary" color="primary" aria-label="Example icon-button with a heart icon" 
      (click)="openDialogEditar(oC.idFamilia, oC.codigo, oC.descripcion)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Warn" color="warn" aria-label="Example icon-button with a heart icon" (click) = "eliminar(oC.idFamilia)">
        <mat-icon>delete</mat-icon>
      </button>               
      <button mat-raised-button color="primary" (click)="cargarHijosRecursivos(oC.idFamilia, oC.idPadre)">Sub familia</button>
     </div>
     
    <mat-divider></mat-divider>

  </mat-list-item>
  <mat-list *ngIf="(hijosRecursivos| filtroFamiliaAdmin:search).length===0" style="text-align: center; padding: 20px; margin: 20px;">
    <p>No existen familias</p>
    <br>
    
  </mat-list>
  <mat-divider></mat-divider>
  <mat-paginator 
                 (page)="handlePage($event)"
                 [length]="(hijosRecursivos| filtroFamiliaAdmin:search).length"
                 [pageSize]="page_size"
                 [pageSizeOptions]="page_size_options"
                 showFirstLastButtons>
  </mat-paginator>
</mat-list>
</mat-card>
</mat-card>