<mat-list class="estilo-mat-list" style="padding: 0; margin-bottom: 15px; ">
  <mat-list-item class="estilo-mat-item" style="color: black;">

    <div mat-line>Catálogo de datos</div>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button mat-icon-button mat-dialog-close matTooltip="White" color="White"
        aria-label="Example icon-button with a heart icon">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">

  <div class="estilo-buscar">
    <div class="personalizado1">
      <input type="text" #txtSearchOrganizacion required class="personalizado2"
        (keyup)="onSearchOrganizacion( txtSearchOrganizacion.value)">
      <label class="lbl-busqueda">
        <span class="text-busqueda">Buscar....</span>
      </label>
    </div>
  </div>
  <mat-form-field class="mt20 w100"
    style="padding: 0px;margin: 0px;padding-top: 20px; padding-left: 18px; padding-right: 25px; ">
    <mat-label>Organización</mat-label>
    <mat-select name="organizaciones" [(ngModel)]="organizacionSeleccionado.idOrganizacion"
      (selectionChange)="onOrganizacionChange($event)">
      <mat-option *ngFor="let c of listaOrganizaciones" [value]="c.idOrganizacion">
        {{ c.siglas }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="mt20 w100"
    style="padding: 0px;margin: 0px;padding-top: 0px; padding-left: 18px; padding-right: 25px;">
    <mat-label>Familia</mat-label>
    <mat-select name="familia" [(ngModel)]="familiaOrganizacionSeleccionado.idFamilia"
      (selectionChange)="onFamiliaChange($event)">
      <mat-option *ngFor="let c of listaFamiliaVariable" [value]="c.idFamilia">
        {{ c.descripcion }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-list>
    <mat-divider></mat-divider>
    <mat-list-item
      *ngFor="let oC of listaCatalogoOrganizacion | filtroVariablesDifusion:searchOrganizacion:searchOrganizacionVariable | paginate:page_size2:page_number2; let i = index"
      style="color: var(--color-texto-menu-home)">
      <div mat-line><mat-card-title
          style="font-size: 15px; margin-bottom: 0; padding-bottom: 0; padding-bottom: 0;">{{oC.nombreVariable }}</mat-card-title>
      </div>
      <!--<div mat-line style="font-size: 13px;">Organización: {{oC.nombreOrganizacion}}</div>-->
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <div class="pading-radio-buton">
          <div class="container-1">
            <div class="form-group">
              <input style="display: none;" type="radio" name="radioOpcionVariable" [id]="oC.nombreVariable"
                [id]="oC.nombreVariable" [checked]="variableSeleccionada === oC.idVariable"
                (change)="filtrarCatalogo(oC.idVariable)" />
              <label [for]="oC.nombreVariable"><span class="radio-button-1"></span></label>
            </div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list
      *ngIf="(listaCatalogoOrganizacion| filtroVariablesDifusion:searchOrganizacion:searchOrganizacionVariable ).length===0"
      style="text-align: center; padding: 20px; margin: 20px;">
      <p style="color: var(--color-texto-menu-home);">No existen datos !! </p>
      <br>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-list>
  <mat-divider></mat-divider>
  <mat-paginator (page)="handlePage2($event)"
    [length]="(listaCatalogoOrganizacion | filtroVariablesDifusion:searchOrganizacion:searchOrganizacionVariable ).length"
    [pageSize]="page_size2" [pageSizeOptions]="page_size_options2" showFirstLastButtons>
  </mat-paginator>
</mat-dialog-content>